.slogan {
    color: blue;
    padding: 15px 0;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.bg-img {
    width: 100vw;
    height: 300vh;
    font-size: 50px;
    font-weight: 700;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(31, 122, 19);
    background-image: url(../images/bg.jpg);
    background-size: cover;
    /*background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;*/
}