.one-page {
    height: 80vh;
    background: rgb(28, 66, 41);
}


.profile-pic {
    width: 100%;
    /*height: 100vh;這個用vh就炸了*/
    background-color: #00000017;
}

.article {
    padding: 10px;
    border: 1px solid #dedede;
    line-height: 30px;
    margin-bottom: 10px;
    min-width: 200px;
    display: inline-block;
    /*height: 100px;要行高就不能設高度，會G喔*/
}

.align {
    width: 200px;
    height: 200px;
    background: rgb(17, 88, 88);
    color: #f74444;
    text-align: center;
    line-height: 200px;
    /*用行高置中，只能有一行文字，多了就破給你看*/
}