.button-group {
    margin-bottom: 20px;
}

/* 後代選擇器 */
.btn .primary {
    background: #1b34be;
    color: #f0f0f0;
}

/* 複合選擇器 */
.btn {
    padding: 10px 20px;
    background-color: #bbbbbb;
    border: 0;
    color: #dedede;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #7c7c7c;
}

.btn.primary {
    color: #dedede;
    background-color: rgb(11, 141, 98);
}

.btn.primary:hover {
    background-color: rgb(29, 121, 90);
}

.btn.success {
    color: #dedede;
    background-color: rgb(240, 226, 27);
}

.btn.success:hover {
    background-color: rgb(97, 88, 12);
}

.btn.danger {
    color: #dedede;
    background-color: rgb(255, 0, 0);
}

.btn.danger:hover {
    background-color: rgb(94, 4, 4);
}

.btn.dark {
    color: #dedede;
    background-color: rgb(80, 9, 76);
}

.btn.dark:hover {
    background-color: rgb(43, 1, 37);
}